/* *{
    background-color: #23272a;
  } */

.flex-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(15.5px);
    border: 1px solid rgba(255, 255, 255, 0.77);
    margin: 30px;
    max-width:300px;
    max-height: 850px;
    min-height: 400px;
    min-width: 180px;
    display: flex;
    flex-direction :column;
    overflow :hidden;
    border-radius: 2rem;
}

.title{

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    background: none;
    color: #FFFFFF;
}

.desc
{
    background: none;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px; 
    display: flex;
    align-items: center;
    padding: 8px;
    text-align: center;
    color: #FFFFFF;
}


.image-icon{
    background: none;
    padding: 3em 0;
    display: flex;
    justify-content: center;
}
 
.image-icon img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    /* box-shadow:  0 0.3em 1.2em ; */
    object-fit: cover;
}

.Project-Title{
    position: relative;
    padding: 30px;
    margin: 2rem auto;
    max-width: 900px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Project-Title h2{
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 67px;
    color: white;
    width: 100%;
}



.rectangle{
    position :absolute;
    height: 450px;
    z-index: -10;
}
.rectangle:first-child{
    top: 8%;
    right:-15%;
    transform: rotate(8deg);
}
.rectangle:nth-child(2){
    bottom:-2%;
    left:-15%;
}
.adjust-rectangle{
    top: 10rem;
}
@media screen and (max-width:600px) {
    .rectangle:first-child{
        right:-80%;
        top:10%;
    }
    .rectangle:nth-child(2){
        left:-50%;
    }
    .adjust-rectangle{
        top: 20rem;
    }
}