name: Validate JSONs
  
on:
  pull_request:
    types: [opened, reopened]
    paths:
        - "src/data.json"

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: src/schema.json
          INPUT_JSONS: src/data.json